@model Hackathon.DomainModel.nal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>nal</legend>

    <div class="display-label">strap</div>
    <div class="display-field">@Model.strap</div>

    <div class="display-label">folio</div>
    <div class="display-field">@Model.folio</div>

    <div class="display-label">dor_cd</div>
    <div class="display-field">@Model.dor_cd</div>

    <div class="display-label">val_method</div>
    <div class="display-field">@Model.val_method</div>

    <div class="display-label">mill_cd</div>
    <div class="display-field">@Model.mill_cd</div>

    <div class="display-label">nh_cd</div>
    <div class="display-field">@Model.nh_cd</div>

    <div class="display-label">vac_impr_flg</div>
    <div class="display-field">@Model.vac_impr_flg</div>

    <div class="display-label">yr_impr</div>
    <div class="display-field">@Model.yr_impr</div>

    <div class="display-label">yr_annexed</div>
    <div class="display-field">@Model.yr_annexed</div>

    <div class="display-label">splt_dt</div>
    <div class="display-field">@Model.splt_dt</div>

    <div class="display-label">dsc_cd</div>
    <div class="display-field">@Model.dsc_cd</div>

    <div class="display-label">base_yr</div>
    <div class="display-field">@Model.base_yr</div>

    <div class="display-label">mkt_ar1</div>
    <div class="display-field">@Model.mkt_ar1</div>

    <div class="display-label">mkt_ar2</div>
    <div class="display-field">@Model.mkt_ar2</div>

    <div class="display-label">pr_strap</div>
    <div class="display-field">@Model.pr_strap</div>

    <div class="display-label">prob_deed</div>
    <div class="display-field">@Model.prob_deed</div>

    <div class="display-label">tenancy</div>
    <div class="display-field">@Model.tenancy</div>

    <div class="display-label">hx_val</div>
    <div class="display-field">@Model.hx_val</div>

    <div class="display-label">wid_val</div>
    <div class="display-field">@Model.wid_val</div>

    <div class="display-label">wdr_val</div>
    <div class="display-field">@Model.wdr_val</div>

    <div class="display-label">dis_val</div>
    <div class="display-field">@Model.dis_val</div>

    <div class="display-label">wx_val</div>
    <div class="display-field">@Model.wx_val</div>

    <div class="display-label">jst_val</div>
    <div class="display-field">@Model.jst_val</div>

    <div class="display-label">cls_val</div>
    <div class="display-field">@Model.cls_val</div>

    <div class="display-label">asd_val</div>
    <div class="display-field">@Model.asd_val</div>

    <div class="display-label">soh_val</div>
    <div class="display-field">@Model.soh_val</div>

    <div class="display-label">tax_val</div>
    <div class="display-field">@Model.tax_val</div>

    <div class="display-label">cur_base</div>
    <div class="display-field">@Model.cur_base</div>

    <div class="display-label">pct_soh</div>
    <div class="display-field">@Model.pct_soh</div>

    <div class="display-label">mkt_soh</div>
    <div class="display-field">@Model.mkt_soh</div>

    <div class="display-label">mkt_mkt</div>
    <div class="display-field">@Model.mkt_mkt</div>

    <div class="display-label">ag_x_val</div>
    <div class="display-field">@Model.ag_x_val</div>

    <div class="display-label">tot_bld_val</div>
    <div class="display-field">@Model.tot_bld_val</div>

    <div class="display-label">cost_bld_val</div>
    <div class="display-field">@Model.cost_bld_val</div>

    <div class="display-label">tot_xf_val</div>
    <div class="display-field">@Model.tot_xf_val</div>

    <div class="display-label">tot_lnd_val</div>
    <div class="display-field">@Model.tot_lnd_val</div>

    <div class="display-label">cls_lnd_val</div>
    <div class="display-field">@Model.cls_lnd_val</div>

    <div class="display-label">ag_lnd_val</div>
    <div class="display-field">@Model.ag_lnd_val</div>

    <div class="display-label">asd_lnd_val</div>
    <div class="display-field">@Model.asd_lnd_val</div>

    <div class="display-label">ncon_val</div>
    <div class="display-field">@Model.ncon_val</div>

    <div class="display-label">demo_val</div>
    <div class="display-field">@Model.demo_val</div>

    <div class="display-label">comb_val</div>
    <div class="display-field">@Model.comb_val</div>

    <div class="display-label">split_val</div>
    <div class="display-field">@Model.split_val</div>

    <div class="display-label">px_val</div>
    <div class="display-field">@Model.px_val</div>

    <div class="display-label">pr_val</div>
    <div class="display-field">@Model.pr_val</div>

    <div class="display-label">ag_x_flg</div>
    <div class="display-field">@Model.ag_x_flg</div>

    <div class="display-label">yr_created</div>
    <div class="display-field">@Model.yr_created</div>

    <div class="display-label">pr_dor_cd</div>
    <div class="display-field">@Model.pr_dor_cd</div>

    <div class="display-label">map_id</div>
    <div class="display-field">@Model.map_id</div>

    <div class="display-label">own_dt</div>
    <div class="display-field">@Model.own_dt</div>

    <div class="display-label">life_est</div>
    <div class="display-field">@Model.life_est</div>

    <div class="display-label">jt_flg</div>
    <div class="display-field">@Model.jt_flg</div>

    <div class="display-label">inc_flg</div>
    <div class="display-field">@Model.inc_flg</div>

    <div class="display-label">mh_flg</div>
    <div class="display-field">@Model.mh_flg</div>

    <div class="display-label">lnd_sale_flg</div>
    <div class="display-field">@Model.lnd_sale_flg</div>

    <div class="display-label">conf_flg</div>
    <div class="display-field">@Model.conf_flg</div>

    <div class="display-label">mortage_cd</div>
    <div class="display-field">@Model.mortage_cd</div>

    <div class="display-label">owner1</div>
    <div class="display-field">@Model.owner1</div>

    <div class="display-label">owner2</div>
    <div class="display-field">@Model.owner2</div>

    <div class="display-label">m_state</div>
    <div class="display-field">@Model.m_state</div>

    <div class="display-label">m_addr_1</div>
    <div class="display-field">@Model.m_addr_1</div>

    <div class="display-label">m_addr_2</div>
    <div class="display-field">@Model.m_addr_2</div>

    <div class="display-label">m_city</div>
    <div class="display-field">@Model.m_city</div>

    <div class="display-label">m_zip</div>
    <div class="display-field">@Model.m_zip</div>

    <div class="display-label">m_country</div>
    <div class="display-field">@Model.m_country</div>

    <div class="display-label">carr_rt</div>
    <div class="display-field">@Model.carr_rt</div>

    <div class="display-label">mailto</div>
    <div class="display-field">@Model.mailto</div>

    <div class="display-label">str</div>
    <div class="display-field">@Model.str</div>

    <div class="display-label">str_pfx</div>
    <div class="display-field">@Model.str_pfx</div>

    <div class="display-label">str_num</div>
    <div class="display-field">@Model.str_num</div>

    <div class="display-label">str_sfx</div>
    <div class="display-field">@Model.str_sfx</div>

    <div class="display-label">str_unit</div>
    <div class="display-field">@Model.str_unit</div>

    <div class="display-label">s_zip</div>
    <div class="display-field">@Model.s_zip</div>

    <div class="display-label">s_city</div>
    <div class="display-field">@Model.s_city</div>

    <div class="display-label">plat_bk</div>
    <div class="display-field">@Model.plat_bk</div>

    <div class="display-label">plat_pg</div>
    <div class="display-field">@Model.plat_pg</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.nalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


