@model Hackathon.DomainModel.sale

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.strap)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.strap)
    @Html.ValidationMessageFor(model => model.strap)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.folio)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.folio)
    @Html.ValidationMessageFor(model => model.folio)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ln_num)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ln_num)
    @Html.ValidationMessageFor(model => model.ln_num)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.trns_cd)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.trns_cd)
    @Html.ValidationMessageFor(model => model.trns_cd)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.or_bk)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.or_bk)
    @Html.ValidationMessageFor(model => model.or_bk)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.or_pg)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.or_pg)
    @Html.ValidationMessageFor(model => model.or_pg)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.grantor)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.grantor)
    @Html.ValidationMessageFor(model => model.grantor)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.grantee)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.grantee)
    @Html.ValidationMessageFor(model => model.grantee)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.dos)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.dos)
    @Html.ValidationMessageFor(model => model.dos)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.price)
    @Html.ValidationMessageFor(model => model.price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.vi)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.vi)
    @Html.ValidationMessageFor(model => model.vi)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.qu_flg)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.qu_flg)
    @Html.ValidationMessageFor(model => model.qu_flg)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.doc_stamps)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.doc_stamps)
    @Html.ValidationMessageFor(model => model.doc_stamps)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.rea_cd)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.rea_cd)
    @Html.ValidationMessageFor(model => model.rea_cd)
</div>

